{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link href="{% static '/doctorfinder/login.css' %}" rel="stylesheet">

<div class="login-title">
    <h4>Doctor Finder</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                    <hr>
                    {% if message %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endif %}
                    <form method="POST" action="{% url 'loginuser' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <select class="form-control" name="role">
                                <option class="hidden" selected disabled>Role</option>
                                <option>doctor</option>
                                <option>patient</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="email" class="form-control" placeholder="Email" type="email" name="email">
                            </div> 
                        </div> 
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" name="password" placeholder="Password" type="password">
                            </div> 
                        </div> 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login </button>
                        </div> 
                        <div class="text-center" ><a href="" class="text-center">Forgot password?</a></div>
                        <div class="text-center" ><a href="" class="text-center">Don't have an account? Register</a></div>
                    </form>
                </article>
            </div> 
        </div> 
    </div> 
</div>